@model Organizations
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div>
    <div class="text-center bg-secondary">
        <h1 class="display-4 mt-2 pt-2 mb-3 text-white"> @ViewData["Title"] </h1>
        <a asp-action="Manage" class="mb-3 btn btn-success">
            Back 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="19" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>
        </a>
    </div>

    <div class="card-body">
        <div class="">
            <form asp-action="CreateOrEdit" method="post">             
                
                <input asp-for="OrganizationId" hidden="hidden" />

                <div class="row">
                    <div class="col-6 mb-3">
                        <label for="name" class="form-label">Organization</label>
                        <input type="text" asp-for="OrganizationName" class="form-control" id="name" placeholder="Enter Organization's Name" required />
                    </div>
                    <div class="mb-3 col-6">
                        <label for="name" class="form-label">Owner</label>
                        <input type="text" asp-for="OwnerName" class="form-control" id="name" placeholder="Enter Organization Owner's Name" required />
                    </div>
                </div>

                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" asp-for="Email" class="form-control" id="email" placeholder="Enter Email Address" required />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Phone</label>
                    <input type="text" asp-for="Phone" class="form-control" id="email" placeholder="Enter Phone" required />
                </div>
                
                <div class="mb-3">
                    <label for="Website" class="form-label">Website</label>
                    <input type="text" asp-for="Website" class="form-control" id="Website" placeholder="Enter URL of Your Website" />
                </div>

                <div class="row">
                    <div class="mb-3 col-3">
                        <label for="Website" class="form-label">City</label>
                        <input type="text" asp-for="City" class="form-control" id="Website" placeholder="Enter City" />
                    </div>

                    <div class="mb-3 col-3">
                        <label for="Website" class="form-label">State</label>
                        <input type="text" asp-for="State" class="form-control" id="Website" placeholder="Enter State" />
                    </div>

                    <div class="mb-3 col-3">
                        <label for="Website" class="form-label">Country</label>
                        <input type="text" asp-for="Country" class="form-control" id="Website" placeholder="Enter Country" />
                    </div>

                    <div class="mb-3 col-3">
                        <label for="Website" class="form-label">Zip code</label>
                        <input type="text" asp-for="ZipCode" class="form-control" id="Website" placeholder="Enter Zip Code" />
                    </div>
                </div>
                
                <div class="mb-3">
                    <label for="Website" class="form-label">Address</label>
                    <textarea class="form-control" asp-for="Address" id="Website" rows="2">
                    </textarea>
                </div>

                <div class="d-grid gap-2">
                    <button type="submit" class="@ViewData["button-color"] btn-block"> @ViewData["Title"] </button>
                </div>
            </form>
        </div>
    </div>

</div>