@model LoginModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Areas/User/Views/Shared/_MinimalLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 mt-5">
            <div class="card shadow">
                <div class="card-header bg-white">
                    <h3 class="mb-0 text-center">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="email" name="email" placeholder="name@example.com">
                            <label for="email">Email address</label>
                            <div class="invalid-feedback">
                                Please enter a valid email address.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
                            <label for="password">Password</label>
                            <div class="invalid-feedback">
                                Please enter your password.
                            </div>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password">
                            <label for="confirmPassword">Confirm Password</label>
                            <div class="invalid-feedback">
                                Please confirm your password.
                            </div>
                        </div>
                        <div class="form-check mb-3">
                            <input class="form-check-input" type="checkbox" value="" id="rememberMe" name="rememberMe">
                            <label class="form-check-label" for="rememberMe">
                                Remember me
                            </label>
                        </div>
                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-outline-dark btn-block">Login</button>
                        </div>
                    </form>
                    <hr>
                    <div class="text-center">
                        <a href="#" class="text-dark">Forgot Password?</a>
                    </div>
                    <div class="text-center mt-3">
                        <span>Don't have an account? </span><a asp-area="User" asp-controller="Accounts" asp-action="SignupUserStepOne" class="text-dark">Create Account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>